@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  height: 100vh;
  background: #d2d2d2;
  box-sizing: border-box;
}

.main {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 30px;
  width: 800px;
  height: 450px;
  background-color: #fff;
  box-shadow: 2px 10px 8px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.main.active {
  display: flex;
}

.header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header img {
  width: 32px;
  height: 32px;
}

.header > h1 {
  font-size: 25px;
  font-weight: lighter;
  color: rgba(80, 80, 80, 0.7);
}

.main-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: end;
  align-items: end;
  column-gap: 110px;
  row-gap: 35px;
}

.main-form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-form label {
  width: 150px;
  font-weight: 400;
  font-size: 17px;
}

.main-form input,
select {
  font-size: 15px;
  padding-left: 20px;
  width: 285px;
  height: 50px;
  border: 0.5px solid rgba(175, 175, 175, 0.7);
  border-radius: 15px;
}

select {
  width: 306px;
  height: 51px;
  color: #757575;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
}

.main-form input::placeholder {
  font-size: 15px;
}

.main-form input:focus,
select:focus {
  outline: 1px solid #62b4ff;
}

.submit {
  width: 120px;
  height: 50px;
  background: #62b4ff;
  border: none;
  border-radius: 30px;
  font-size: 17px;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

input[type='email']:invalid {
  color: red;
}

.submit:hover {
  transform: scale(1.1, 1.1);
}

.submit:active {
  transform: scale(1, 1);
}
